*{
    margin: 0px;
    padding: 0px;
    font-family:  BlinkMacSystemFont;
    box-sizing: border-box;
}
body{
    background-color: #90E0EF;
    text-align: center;
    overflow-x: hidden;
}
#t-heading{
    font-size: 70px;
    text-align: center;
}
#t-sub-heading{
    font-family: "jacquard 12" , system-ui;
    font-size: 30px;
    text-align: right;
    position:relative;
    bottom: 33px;
    left: 120px;
}
#game-main-box{
    position: relative;
    bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 480px;
    width: 480px;
}
.box{
    height: 150px;
    width: 150px;
    border: none;
    background-color: #fff;
    color: #ff6700;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
    font-size: 70px;
    font-weight: bold;
}

#resetbtn{
    height: 30px;
    width: 140px;
    font-size: 20px;
    background-color: #ffd500;
    font-weight:700;
}
#winner-message{
    font-size: 100px;
    color:cornflowerblue;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #ffd166;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
    padding: 10px;
    position: relative;
    bottom: 331px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}
#draw-message{
    font-size: 100px;
    color:cornflowerblue;
    background-color: white;
    border-radius: 30px;
    border: 3px solid #ffd166;
    width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;    
    padding: 10px;
    position: relative;
    bottom: 331px;
    margin-right: auto;
    margin-left: auto;
    display: none;
}
.buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#newgame{
    height: 30px;
    width: 140px;
    font-size: 20px;
    background-color: #ffd500;
    font-weight:700;
}
.button-js{
    position: relative;
    bottom: 140px;
}

@media (width <= 600px){
    #winner-message{
        margin-top: 50px;
        font-size: 80px;
    }
    #draw-message{
        margin-top: 50px;
        font-size: 80px;
    }
    #game-main-box{
        height: 400px;
        width: 400px;
    }
    .box{
        height: 125px;
        width: 125px;
    }
    #t-heading{
        font-size: 50px;
    }
    #t-sub-heading{
        font-size: 20px;
        position:relative;
        bottom: 33px;
        left: 90px;
    }
}

@media (width <= 440px){
    #winner-message{
        margin-top: 92px;
        font-size: 55px;
    }
    #draw-message{
        margin-top: 103px;
        font-size: 45px;
    }
    #game-main-box{
        height: 340px;
        width: 340px;
    }
    .box{
        height: 100px;
        width: 100px;
    }
    #t-heading{
        font-size: 50px;
    }
    #t-sub-heading{
        font-size: 20px;
        position:relative;
        bottom: 33px;
        left: 90px;
    }
}

@media (width <= 370px){
    #winner-message{
        margin-top: 130px;
        font-size: 45px;
    }
    #draw-message{
        margin-top: 135px;
        font-size: 35px;
    }
    #game-main-box{
        height: 280px;
        width: 280px;
    }
    .box{
        height: 83px;
        width: 83px;
    }
    #t-heading{
        font-size: 40px;
    }
    #t-sub-heading{
        font-size: 15px;
        position:relative;
        bottom: 33px;
        left: 90px;
    }
}

@media (width <= 300px){
    #winner-message{
        font-size: 45px;
    }
    #draw-message{
        font-size: 35px;
    }
    #game-main-box{
        height: 280px;
        width: 280px;
    }
    .box{
        height: 70px;
        width: 70px;
    }
    #t-heading{
        font-size: 20px;
    }
    #t-sub-heading{
        font-size: 8px;
        position:relative;
        bottom: 33px;
        left: 90px;
    }
}